.add {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: #fff;
}

.add-title {
    padding: 10px 0;
    font-size: 22px;
    text-align: center;
    color: #56789a;
    border-bottom: solid 1px #deeaf6;
    box-shadow: 0 0 5px 3px rgba(0,0,0,.1);
}

.add-sum-input {
    background: none;
    border: none;
    outline: none;
    padding: 15px 0;
    width: 100%;
    color: #44bd61;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

.add-info {
    width: 100%;
}
.add-info-input {
    margin: 0 auto;
    display: block;
    padding: 10px 20px;
    background: none;
    border: none;
    outline: none;
    width: 75%;
    color: #44bd61;
    font-size: 16px;
    text-align: center;
    border: solid 1px #deeaf6;
    border-radius: 10px;
}

.add-day {
    margin: 20px 0;
    padding: 0 25px;
    display: flex;
    width: 100%;
}
.add-day-btn {
    background: none;
    border: none;
    outline: none;
    width: 50%;
    height: 30px;
    color: #deeaf6;
    font-size: 18px;
    font-weight: 300;
}
.add-day-btn.true {
    color: #44bd61;
    border-radius: 25px;
}

.add-calculator {
    padding: 0 20px;
    display: flex;

}
.add-calculator-btn {
    background: none;
    border: none;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    width: 33.33333%;
    color: #56789a;
    font-size: 30px;
    font-weight: 300;
}

.add-calculator-btn.ok{
    color: #44bd61;
}
.add-calculator-btn.delete{
    color: #ff7272;
}