.money-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: #fff;
    border-bottom: solid 1px #ddd
}
.money-info-day,
.money-info-period {
    width: 80px;
    text-align: center;
}
.money-info-day-number {
    font-size: 30px;
    font-weight: bold;
}
.money-info-day-simbol {
    font-size: 14px;
}
.money-info-day-day {
    font-size: 14px;
}
.money-info-sum {
    background: none;
    border: none;
    outline: none;
    padding: 10px 25px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    background: rgba(255,255,255, .2);
    border-radius: 50px;
    text-shadow: 0 1px 6px rgba(0,0,0, .2);
}
.money-info-period-date {
    font-size: 22px;
}
.money-info-period-month {
    padding: 3px 0 0;
    font-size: 14px;
}